@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to our BookStore</h1>
    <h5>We sell books from reputed authors and publishers at affordable pricecs.</h5>
    <img src="/images/library.jpeg" alt='random' class="img-fluid">
</div>
