@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5"> Welcome to <span class="display-6">Student Management System</span></h1>
    <img src="images/3.jpeg" alt="seminar" class="img-fluid">
</div>
